snippet ad
	Assistant Professor
	Department of Physics
	University of South Dakota

	414 East Clark Street
	Vermillion, SD 57069

snippet bj
	Best, Jing

snippet brj
	Best regards,
	Jing Liu

snippet cj
	Cheers, Jing

snippet rj
	Regards, Jing
	
snippet sj
	Sorry, Jing
	
snippet tj
	Thanks, Jing

snippet tp
	Thanks, Jing

	http://www.physino.xyz

snippet tusd
	the University of South Dakota

