snippet #
	# ${1} #
	
	${2}

snippet ##
	## ${1} ##
	
	${2}

snippet ###
	### ${1} ###
	
	${2}

snippet ####
	#### ${1} ####
	
	${2}

snippet #####
	##### ${1} ######
	
	${2}

snippet ######
	###### ${1} ######
	
	${2}

snippet img
	![${1}]({{site.exa}}/${2})
	
	${3}

snippet cb
	\`\`\`
	${1}
	\`\`\`
	
	${2}

snippet ic
	\`${1}\` ${2}

snippet ref
	[${1}][] ${2}

snippet url
	[${1:text}](${2:http://}) ${3}

snippet bib
	[${1}]:${2:http://}
